/backend/vendor/
/backend/node_modules/
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*.php
/backend/storage/logs/*.log
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/database/database.sqlite
.DS_Store
